header {
    text-align: center;
}

.row {
    margin:auto;
}

input {
    width:100%;
}

button.btn.btn-primary {
    width: 100%;
}

#line-break {
    border-top: 2px solid gray;
    margin-top: 10px;
}

button.btn.btn-secondary {
    width: 100%;
    margin-top: 10px;
}

div#current-weather.container {
    border: 2px solid gray;
}

div.col.forecast-cards {
    background: #0d6efd;
    color:white;
    margin:5px;
}

.low-uv {
    padding: 0 15px;
    background-color:green;
    color:white;
}

.moderate-uv {
    padding: 0 15px;
    background-color:yellow;
    color:white;
}

.high-uv {
    padding: 0 15px;
    background-color:orange;
    color:white;
}

.very-high-uv {
    padding: 0 15px;
    background-color:red;
    color:white;
}

.extreme-uv {
    padding: 0 15px;
    background-color:purple;
    color:white;
}